<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

        <appender name="appenderConsole" class="org.apache.log4j.ConsoleAppender">
                <param name="Threshold" value="debug"/>
                <layout class="org.apache.log4j.SimpleLayout"/>
        </appender>

        <!-- Definition du Logger racine -->
        <root>
          <level value="debug"/>
          <appender-ref ref="appenderConsole"/>
        </root>
</log4j:configuration>
